<body>
    <section>
        <h1>Home</h1>
        <from action="/logout" method="post">
            <button type="submit">
                Logout
            </button>
        </from>
    </section>
</body>